/* ======= Base ======= */
body {
  font-family: 'Lato', Arial, sans-serif;
  color: #434343;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  background-color: #f5f5f5;
}

a {
  color: #3aaa64;
  transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #2d844e; /* Darker green on hover */
}

.btn,
a.btn {
  transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}

.btn .fa,
a.btn .fa {
  margin-right: 5px;
}

/* ======= Header ======= */
.header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
  text-align: center;
}

.header .btn {
  margin-top: 60px;
}

.header .profile-image {
  margin-right: 20px;
  margin-top: 6px;
}

.header .profile-content .name {
  color: #49515a;
  font-size: 16px;
  margin-bottom: 3px;
  margin-top: 3px;
}

/* ... (other styles) ... */

/* ======= Sections ======= */
.sections-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section {
  margin-bottom: 30px;
}

.section .section-inner {
  background: #fff;
  padding: 30px;
}

.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}

/* ... (other styles) ... */

/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

.footer a {
  color: #fff;
}

.footer .fa-heart {
  color: #fb866a;
}

/* ... (other styles) ... */
